/* PersonalDetails.css */
.personal-details-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .personal-details-box h3 {
    padding-left: 20px;
  }
  
  .personal-details-box p {
    padding-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    body{
        
        font-size: small;
    }
    .personal-details-box {
        background-color: #f0f0f0;
        padding: 0;
        display:flex;
        flex-direction: column;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        justify-content:space-evenly;
        justify-items:center;
        

        
      }
      .personal-details-box h3 {
        padding-left: 0;
        margin: 0;
      }
      
      .personal-details-box p {
        padding-right: 0;
        margin: 0;
      }
      
  }